Repository dataxu/vestal_versions, changes with the owners that CODEOWNERS names for each.
All owners: @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque, @dataxu/releng

Added the vestal_versions build job
  Dockerfile
  Jenkinsfile
  buildDeploy.sh
  vestal_versions.gemspec
Owners: @dataxu/releng, @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque

Remove file
  .DS_Store
Owners: @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque, @dataxu/releng

Removed file
  .DS_Store
Owners: @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque, @dataxu/releng

Small change
  Dockerfile
Owners: @dataxu/releng

Changed bundler version
  Dockerfile
Owners: @dataxu/releng

Updates
  Dockerfile
  Jenkinsfile
Owners: @dataxu/releng

Removed machinist
  machinist.gemspec
Owners: @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque, @dataxu/releng

Skipping tests
  Jenkinsfile
Owners: @dataxu/releng

Working changes
  Dockerfile
  Jenkinsfile
  buildDeploy.sh
Owners: @dataxu/releng, @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque

Small changes
  Gemfile
  vestal_versions.gemspec
Owners: @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque, @dataxu/releng

Small fix
  Jenkinsfile
  lib/.DS_Store
Owners: @dataxu/releng, @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque

Remove DS file
  lib/.DS_Store
Owners: @moort, @wanthony, @JeffLuckett, @skolf, @pibako, @bgosavi, @dmepham, @agirwalkar, @KrilYura, @VincentReccaXu, @zkhoja84, @KPranessh, @conor-pappas, @bbowms3, @fkbarrett, @Futursky, @dxjbasque, @dataxu/releng

Small fix (#3)
  Jenkinsfile
Owners: @dataxu/releng

CODEOWNERS:

* @moort @wanthony @JeffLuckett @skolf @pibako @bgosavi @dmepham @agirwalkar @KrilYura @VincentReccaXu @zkhoja84 @KPranessh @conor-pappas @bbowms3 @fkbarrett @Futursky @dxjbasque @dataxu/releng
CODEOWNERS @dataxu/releng
Dockerfile @dataxu/releng
Jenkinsfile @dataxu/releng
